# Runtime dan Data Lokal
mongodb/
certs/
*.log
package-lock.json

# Node dependencies
node_modules/

# Editor & System files
.DS_Store
.idea/
.vscode/

# Webapp build (jika hasil build tidak ingin di-push)
webapp/build/
